.speaker_img{
	width:85%;
	border-radius: 50%
}

.speaker_text{
	color:white;
	font-size: 16px;
}

.speakercontentrow{
	margin-top: 20px;
	margin-bottom: 50px;
}


.col-sm-2{
	display: inline-block;
}